#
# Copyright 2023 Datastrato Pvt Ltd.
# This software is licensed under the Apache License version 2.
#
version: '3.0'
services:
  hive:
    image: datastrato/hive:2.7.3-no-yarn
    ports:
      - "3307:3306"
      - "9000:9000"
      - "9083:9083"
    container_name: playground-hive
    environment:
      - HADOOP_USER_NAME=root
    healthcheck:
      test: ["CMD", "/tmp/check-status.sh"]
      interval: 10s
      timeout: 60s
      retries: 5
    deploy:
      resources:
        limits:
          cpus: "3"
          memory: 3G

  gravitino:
    image: datastrato/gravitino:0.4.0-rc1
    entrypoint: /bin/bash /tmp/gravitino/init.sh
    ports:
      - "8090:8090"
      - "9001:9001"
    container_name: playground-gravitino
    depends_on:
      hive :
        condition: service_healthy
    volumes:
      - ./healthcheck:/tmp/healthcheck
      - ./init/gravitino:/tmp/gravitino
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 500M
    healthcheck:
      test: ["CMD", "/tmp/healthcheck/gravitino-healthcheck.sh"]
      interval: 5s
      timeout: 60s
      retries: 5

  trino:
    image: datastrato/trino:426-gravitino-0.3.1
    ports:
      - "8080:8080"
    container_name: playground-trino
    environment:
      - HADOOP_USER_NAME=root
      - GRAVITINO_HOST_IP=gravitino
      - GRAVITINO_HOST_PORT=8090
      - GRAVITINO_METALAKE_NAME=metalake_demo
      - HIVE_HOST_IP=hive
    entrypoint:  /bin/bash /tmp/trino/init.sh
    volumes:
      - ./init/trino:/tmp/trino
    depends_on:
      hive :
        condition: service_healthy
      gravitino :
        condition: service_healthy
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: 2G

  postgresql:
    image: postgres:13
    container_name: playground-postgresql
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      ALLOW_IP_RANGE: 0.0.0.0/0
    ports:
      - "5432:5432"
    volumes:
      - ./init/postgres:/docker-entrypoint-initdb.d/
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: 500M

  mysql:
    image: mysql:8.0
    container_name: playground-mysql
    ports:
      - "3306:3307"
    volumes:
      - ./init/mysql:/docker-entrypoint-initdb.d/
    environment:
      MYSQL_ROOT_PASSWORD: mysql
      MYSQL_USER: mysql
      MYSQL_PASSWORD: mysql
      MYSQL_DATABASE: db
    command:
      --default-authentication-plugin=mysql_native_password
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_general_ci
      --explicit_defaults_for_timestamp=true
      --lower_case_table_names=1
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: 500M

  spark:
    image: spark:3.4.1-scala2.12-java11-ubuntu
    container_name: playground-spark
    entrypoint: /bin/bash /tmp/spark/init.sh
    environment:
      - HADOOP_USER_NAME=root
    ports:
      - "4040:4040"
    volumes:
      - ./init/spark:/tmp/spark
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: 1G
